@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

span {
  font-family: "Josefin Sans", sans-serif;
}

.localtime {
  font-size: 32px;
  color: rgb(0, 153, 255);
  filter: drop-shadow(0 0 5em #61dafbaa);
}

.localtime:hover{
  filter: drop-shadow(0 0 5em #00b7ffce);
}

.cloudicon1 {
  width: 20vw;
}

.temp{
  font-size: 32px;
  color: rgb(0, 153, 255);
  filter: drop-shadow(0 0 5em #61dafbaa);
}

.object_night {
  border: 2px solid #3498db;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  margin: 20px;
  text-align: center;
}

.object_day {
  border: 2px solid #fac900;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  margin: 20px;
  text-align: center;
}

.logo_night {
  filter: drop-shadow(0 0 5em #61dafbaa);
}
.logo_night:hover {
  filter: drop-shadow(0 0 5em #00b7ffce);
}

.logo_day {
  filter: drop-shadow(0 0 5em #fbf161aa);
}
.logo_day:hover {
  filter: drop-shadow(0 0 5em #ffee00ce);
}